.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

// Início BG Home

.bg-home {
    position: relative;
}

.bg-home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg.svg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
// Fim BG Home

// Início HERO

.hero {
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    h1 {
        text-align: center;
        height: 150%;
        max-width: 58.75rem;
        font-size: 3rem;
    }

    p {
        text-align: center;
        margin: 1rem 0;
    }

    .button-contact {
        padding: 1rem 1.75rem;
        color: $white-normal;
        background-color: $red-normal;
        border: 0;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem 0;
        display: inline-block;
        cursor: pointer;

        &:hover {
            animation: scaleButton 0.8s alternate infinite;
        }

        @keyframes scaleButton {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.07);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 2rem;
            padding: 0 1rem;
            width: 100%;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero {
        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.75rem;
        }
    }
}

// Fim HERO

// Início ABOUT

.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem 1rem 4rem 1rem;

    img {
        max-width: 35rem;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
    }

    .about-description {
        h2 {
            font-size: 2rem;
        }
    }
}
// Fim ABOUT

// Início SERVICES
.services {
    background: $white-normal;
    color: $black-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}

.services-content {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        line-height: 150%;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 40rem;
    }
}

.haircuts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem 2rem 3rem;
}

.haircut {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 1rem;
    box-shadow: 0 -0.25rem 1rem -0.5rem #000000;
    overflow: hidden;
    margin-top: 2rem;

    img {
        width: 100%;
        max-width: 22rem;

        transition: transform 0.25s ease;
    }
}

.haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: $white-normal;
    z-index: 99;
}

.haircut-info button{
    color: $white-normal;
    background-color: $red-normal;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .haircuts {
        flex-direction: column;
    }
}

// Fim SERVICES

